<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Flot Charts</title>

  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body style="background: #fff">
<script>
<% alength = @a5[@fid]["comment"]["month"].length %>
var data1 = [
<% n = 1 %>
	<% @a5[@fid]["comment"]["month"].each do |key,value| %>
		[<%= key %>,<%= value %>]<% if n != alength %>,<% end %>
		<% n += 1 %> 	
	<% end %>
]
<% blength = @a5[@fid]["share"]["month"].length %>
var data2 = [
<% m = 1 %>
	<% @a5[@fid]["share"]["month"].each do |key,value| %>
		[<%= key %>,<%= value %>]<% if m != blength %>,<% end %>
		<% m += 1 %> 	
	<% end %>
     ]
</script>
<section>
    <!-- left side start-->
   
    <!-- left side end-->
    
    <!-- main content start-->
    <div  >

        <!-- header section start-->
       
        <!-- header section end-->

        <!-- page heading start-->
       
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            


            <div class="row">
                <div class="col-sm-12">
                    <section >
                     
                        <div class="panel-body">
                            <div id="toggle-chart">
                                <div class="clearfix">
                                    <form class="form-horizontal pull-left chart-control">
                                        <div class="control-group">
                                            <label class="control-label">Chart Type :</label>
                                            <div class="series-list">
                                                <label class="checkbox inline">
                                                    <input id="chartType1" checked name="ct" type="radio" value="line"/>
                                                    Line Chart</label>
                                                <label class="checkbox inline">
                                                    <input id="chartType2" name="ct" type="radio" value="bar"/>
                                                    Bar Chart </label>
                                            </div>
                                        </div>
                                    </form>
                                    <form class="form-horizontal chart-control pull-right chart-control">
                                        <div class="control-group ">
                                            <label class="control-label"> Toggle series :</label>
                                            <div class="series-list">
                                                <label class="checkbox inline" style="color:#4DFFFF">
                                                    <input type="checkbox" id="cbdata1" checked>
                                                    留言次數</label>
                                                <label class="checkbox inline" style="color: #E1E100">
                                                    <input type="checkbox" id="cbdata2" checked>
                                                    分享次數 </label>
                                                <!-- <label class="checkbox inline">
                                                    <input type="checkbox" id="cbdata3" checked>
                                                    data3 </label> -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="legendPlaceholder20">
                                </div>
                                <div id="toggle-chartContainer" style="width: 100%;height:300px; text-align: left;">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
      
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!-- jQuery Flot Chart-->
<script src="/js/flot-chart/jquery.flot.js"></script>
<script src="/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/js/flot-chart/jquery.flot.resize.js"></script>
<script src="/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="/js/flot-chart/jquery.flot.selection.js"></script>
<script src="/js/flot-chart/jquery.flot.stack.js"></script>
<script src="/js/flot-chart/jquery.flot.time.js"></script>
<script src="/js/a5chart.js"></script>

<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>

</body>
</html>