<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Chartjs</title>

  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body style="background: #fff">

<section>
    <!-- left side start-->
    
    <!-- left side end-->
    
    <!-- main content start-->
    <div >

                        <div class="panel-body">
                        	<table class="table table-bordered table-striped table-condensed">
                                  <thead>
                                  <tr>
                                      <th>時間</th>
                                      <th>留言</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  	<%@s3[params[:cid].to_i]["aticle"].each do |key,value|%>
                                  <tr>
                                      <td><%=key%></td>
                                      <td><%=value%></td>
                                 
                                  </tr>
                                 <%end%>
                                  </tbody>
                              </table>
                          
                        </div>
        
    </div>
    <!-- main content end-->
    <a href="/outer/s3p_view?cid=<%=params[:cid]%>" class="btn btn-danger">看詳細評論</a>
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>

<!--Chart JS-->
<!-- <script src="/js/chart-js/Chart.js"></script> -->
<script src="/js/morris-chart/morris.js"></script>
<script src="/js/morris-chart/raphael-min.js"></script>


<!--common scripts for all pages-->
<script src="/js/scripts.js"></script>

</body>
</html>