<!-- leftside start -->
<ul id="theleft" class="nav nav-pills nav-stacked custom-nav">

	<li class="menu-list nav-active">
		<a href=""><i class="fa fa-bar-chart-o"></i> <span>數據分析</span></a>
		<ul class="sub-menu-list">
			<li <%if action_name == "s19p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=19">各大FB粉絲團熱門話題</a>
			</li>
			<li <%if action_name == "s20p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=20">意見領袖分析</a>
			</li>
			<li <%if action_name == "s14p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=14">使用者成長趨勢</a>
			</li>
			<li <%if action_name == "s10p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=10">互動度成長趨勢</a>
			</li>

			
		<li <%if action_name == "s1p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=1">熱門字分析</a>
			</li>
			<li <%if action_name == "s7p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=7">火紅字分析</a>
			</li>
			<!-- <li>
				<a href="/dashboard/choose_company?did=6">引起互動關建字</a>
			</li> -->
			<li <%if action_name == "s4p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=4">品牌口碑</a>
			</li>
			<li <%if action_name == "s3p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=3">品牌趨勢</a>
			</li>
			
			<!-- <li>
				<a href="/dashboard/choose_company?did=5">產品口碑</a>
			</li> -->
			
			<li <%if action_name == "s8p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=8">互動度統計</a>
			</li>
			
			<li <%if action_name == "s11p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=11">最佳互動量分析</a>
			</li>
			
			<li <%if action_name == "s13p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=13">使用者結構分析</a>
			</li>
			<li <%if action_name == "s15p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=15">活躍使用者趨勢</a>
			</li> 
<!--			<li <%if action_name == "s16p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=16">意見領袖分析</a>
			</li>
-->
			<li <%if action_name == "s17p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=17">好孕邦app分析</a>
			</li>
			
<!--			<li <%if action_name == "s18p"%>class='active'<%end%>>
				<a href="/dashboard/choose_company?did=18">近期熱門話題列表</a>
			</li>
-->			

			
		</ul>
	</li>

	
</ul>
<!-- leftside end -->
